.bg{
    background-color: rgb(15 69 85);
    color: white;
    font-size: 20px;
    font-weight: 600;
}
  

.btn{
    background-color: transparent;
    color: rgb(15 69 85);
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1.5px solid rgb(15 69 85);
}

.btn:hover{
    background-color: rgb(15 69 85);
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1.5px solid rgb(15 69 85);
}

