

.btn{
    background-color: rgb(15 69 85);
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1.5px solid rgb(15 69 85);
}

.btn:disabled{
    background-color: rgb(172, 172, 172);
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}