<div class="col-12 row mx-0 py-3">
    <div class="col-12  mx-0 d-flex justify-content-between">
        <div class="p-0 m-0">
            <span class="fz-22 fw-500">Employee List</span>
        </div>
        <div class="p-0 m-0 d-flex flex-row">
            <input type="search" class="form-control me-2" placeholder="search" [(ngModel)]="searchText" (input)="onSearch()">
            <button type="button" class="btn_Add px-3"  [routerLink]="[('/employee/employee-creation')]">Add</button>
        </div>
    </div>
    <div class="col-12 row mx-0 p-3">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact number</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let k of paginatedData;let j=index">
                <td>{{k?.emp_name}}</td>
                <td>{{k?.emp_email}}</td>
                <td>{{k?.emp_contact}}</td>
                <td>{{k?.emp_address}}</td>
                <td>
                    <button type="button" class="btn p-1" (click)="delete(j)">Detelet</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="d-flex justify-content-center py-2">
        <div class="pagination">
            <button class="pagination-btn" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
            <span class="px-3">{{currentPage}} </span>
            <button class="pagination-btn"  (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
          </div>
    </div>
</div>
